{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <div class="section-header">
            <h2>Eng yangi mashinalar</h2>
        </div><!--/.section-header-->
        <div class="new-cars-content">
            <div class="owl-carousel owl-theme" id="new-cars-carousel">
                {% for car in cars %}
                <div class="new-cars-item">
                    <div class="single-new-cars-item">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="new-cars-img">
                                    <img src="{{ car.image.url }}" alt="img"/>
                                </div><!--/.new-cars-img-->
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="new-cars-txt">
                                    <h2><a href="#">{{ car.brand }} <span> {{ car.model }}</span></a></h2>
                                    <p>{{ car.about }}</p>
                                </div><!--/.new-cars-txt-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                    </div><!--/.single-new-cars-item-->
                </div><!--/.new-cars-item-->
                {% endfor %}
            </div><!--/#new-cars-carousel-->
        </div><!--/.new-cars-content-->
    </div><!--/.container-->

<!--new-cars end -->
{% endblock main %}