
<!--brand strat -->
<section id="brand" class="brand">
    <div class="container">
             <div class="section-header">
            <h2 class="">Brendlar</h2>
        </div><!--/.section-header-->
        <div class="brand-area">
            <div class="owl-carousel owl-theme brand-item">
                {% for brand in brands %}
                <div class="item">
                    <a href="{% url 'brand_id' brand.id %}">
                        <img src="{{ brand.image.url }}" alt="brand-image"/>
                    </a>
                    <h3 class="text-center">{{ brand.name }}</h3>
                </div><!--/.item-->
                {% endfor %}
            </div><!--/.owl-carousel-->
        </div><!--/.clients-area-->

    </div><!--/.container-->

</section><!--/brand-->
<!--brand end -->

<!--new-cars start -->
<section id="new-cars" class="new-cars">
    <div class="container" style="color: #dbdad7;">
        <div class="section-header">
            <h2>Eng yangi mashinalar</h2>
        </div><!--/.section-header-->
        <div class="new-cars-content">
                {% for car in three_cars %}
                <div class="new-cars-item">
                    <div class="single-new-cars-item">
                        <div class="row">
                            <div class="col-md-7 col-sm-12">
                                <div class="new-cars-img">
                                    <img src="{{ car.image.url }}" alt="img"/>
                                </div><!--/.new-cars-img-->
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <div class="new-cars-txt">
                                    <h2><a href="#">{{ car.brand }} <span> {{ car.model }}</span></a></h2>
                                    <p>{{ car.about|truncatewords:60 }}</p>
                                    <button class="welcome-btn new-cars-btn"
                                            onclick="window.location.href='{% url 'car_detail' car.id %}'">
                                        Ishlamedi hozircha
                                    </button>
                                    <hr>
                                </div><!--/.new-cars-txt-->
                            </div><!--/.col-->
                        </div><!--/.row-->
                    </div><!--/.single-new-cars-item-->
                </div><!--/.new-cars-item-->
                {% endfor %}
        </div><!--/.new-cars-content-->
    </div><!--/.container-->

</section><!--/.new-cars-->
<!--new-cars end -->

<!--featured-cars start -->
<section id="featured-cars" class="featured-cars">
    <div class="container">
        <div class="section-header">
            <h2>Mashinalar</h2>
        </div><!--/.section-header-->
        <div class="featured-cars-content">
            <div class="row">
                {% for car in cars %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-featured-cars">
                        <div class="featured-img-box">
                            <div class="featured-cars-img">
                                <img src="{{ car.image.url }}" alt="cars">
                            </div>
                        </div>
                        <div class="featured-cars-txt">
                            <h3 >Brand: {{ car.brand }}</h3>
                            <h3>Model: {{ car.model }}</h3>
                            <h3>Narxi: {{ car.price }}{{ car.price_types }}</h3>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div><!--/.container-->

</section><!--/.featured-cars-->
<!--featured-cars end -->


<!--blog start -->
<section id="blog" class="blog"></section><!--/.blog-->
<!--blog end -->



